<div class="row">
    <div class="col-md-12">
        <img src="assets/cabecera.png" alt="" style="width: 100%;">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="">Policiales</a>
            </li> <li class="nav-item">
                <a class="nav-link " href="">Politica</a>
            </li> <li class="nav-item">
                <a class="nav-link " href="">Educación</a>
            </li>
        </ul>
    </div>
</div>
